<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
  <div th:replace="/fragments/header :: header-bootstrap"/>
</head>
<body>
<div class="container-md">
  <div th:replace="/fragments/header :: header"/>

  <!-- Display welcome message after login -->
  <div class="alert alert-primary" sec:authorize="isAuthenticated()">
  <label>Signed in as <span sec:authentication="name">Username</span></label>
  </div>

<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
  <div class="col py-1" th:each="post : ${posts}">
    <div class="card h-100">
      <div class="card-body">
        <a th:href="@{'/posts/' + ${post.id}}"><img th:src="${post.image}" class="card-img-top"   alt="..."></a>
      </div>
      <div class="card-footer">
        <p class="card-title text-center" th:text="${post.title}"></p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>