<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-bootstrap"/>
</head>
<body class="container-md">
<div th:replace="/fragments/header :: header"/>
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-md-7 col-sm-6">
                <h2 class="text-center mb-3">Register User</h2>

                <!-- Register form -->
                <div class="container">
                    <div class="card p-3">
                        <form action="#"
                              th:action="@{/register}"
                              th:object="${user}" method="POST">
                            <div class="form-group mb-3">
                                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" >
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" th:field="*{email}" placeholder="Email" class="form-control" >
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" th:field="*{password}" placeholder="Password" class="form-control" >
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-primary m-2">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>